<!DOCTYPE html>
<html>
    <head>
        <title>BTRS - {{ title }} </title>
        <link rel="stylesheet" href="{{asset request "assets/css/flatpickr.min.css"}}">
        <link rel="stylesheet" href="{{asset request "assets/css/autocomplete.css"}}">
        {{{resources extracss 'css'}}}
        <link rel="stylesheet" href="{{asset request "system/assets/css/styles.css"}}">
        <link rel="shortcut icon" href="{{asset request "system/assets/img/fav.png"}}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            html {
                position:relative;
                min-height:100%;
                background:#fff;
            }
        </style>
    </head>
    <body>
        <div class="system">
            <!-- SYSTEM HEADER -->
            <nav class="navbar">
                <div class="header">
                    <div class="left">
                        <a class="logo" href="">
                            <b><img src="{{asset request "system/assets/img/logo-white-v2.png"}}" alt="home" height="47px" width="200px"></b>
                        </a>
                    </div>
                    <div class="right">
                        <div class="usermenu drop">
                            <div class="toggle">
                                <img src="{{asset request "system/assets/img/default_avatar.png"}}" class="icon" alt="userimg" width="36px" height="36px">
                                <b class="username">{{ request.user.firstname }}</b>
                                <span class="caret"></span>
                            </div>
                            <div class="content">
                                <div class="userdetails">
                                    <div class="userimage">
                                        <img src="{{asset request "system/assets/img/default_avatar.png"}}" alt="user">
                                    </div>
                                    <div class="usertext">
                                        <h4>{{ request.user.firstname }} {{ request.user.lastname}}</h4>
                                        <p class="text-muted">{{ request.user.email }}</p>
                                        <a href="{{route request 'system/profile'}}" class="btn target green"><span>View Profile</span></a>
                                    </div>
                                </div>
                                <div class="separator"></div>
                                <div class="menu">
                                    <a href="{{route request 'system/validbusmanager'}}"><img src="{{asset request "system/assets/img/validation.png"}}"> Validation <span class="label-validation">0</span></a>
                                </div>
                                <div class="separator"></div>
                                <div class="menu">
                                    <a href="{{route request 'system/logout'}}"><img src="{{asset request "system/assets/img/logout.png"}}"> Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- SYSTEM SIDEBAR -->
            <div class="sidebar" role="navigation">
                <ul class="menu">
                    {{{renderMenu request 'index' active 'system' 'Dashboard' 'assets/img/dashboard.png'}}}
                    <li class="divider"></li>
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'supportstaff' active 'system/supportstaff' 'Support Staff' 'assets/img/support_staff.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'busmanager' active 'system/busmanager' 'Bus Manager' 'assets/img/bus_manager.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'buscounter' active 'system/buscounter' 'Bus Counter' 'assets/img/bus_counter.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'counterstaff' active 'system/counterstaff' 'Counter Staff' 'assets/img/counter_staff.png'}}}
                    {{/if}}
                    <li class="divider"></li>
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'managebus' active 'system/managebus' 'Manage Bus' 'assets/img/manage_bus.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'busschedule' active 'system/busschedule' 'Bus Schedule' 'assets/img/bus_schedule.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'tickets' active 'system/tickets' 'Tickets' 'assets/img/tickets.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'booktickets' active 'system/booktickets' 'Book Tickets' 'assets/img/book_tickets.png'}}}
                    {{/if}}
                    <li class="divider"></li>
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'discount' active 'system/discount' 'Discount' 'assets/img/discount.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'transaction' active 'system/transaction' 'Transactions' 'assets/img/transactions.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'paymethod' active 'system/paymethod' 'Payment Method' 'assets/img/payment_method.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'supportticket' active 'supportticket' 'Support Tickets' 'assets/img/support_ticket.png'}}}
                    {{/if}}
                    {{#if (allowed request 'admin')}}
                    {{{renderMenu request 'settings' active 'system/settings' 'General Settings' 'assets/img/general_settings.png'}}}
                    {{/if}}
                </ul>
            </div>

            <!-- SYSTEM MAIN -->
            <div class="wrapper" role="application">
                <div class="preloader">
                    <svg version="1.0" width="64px" height="64px" viewBox="0 0 128 128">
                        <rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF" /><g><path d="M64 9.75A54.25 54.25 0 0 0 9.75 64H0a64 64 0 0 1 128 0h-9.75A54.25 54.25 0 0 0 64 9.75z" fill="#0d8035" fill-opacity="1"/><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1800ms" repeatCount="indefinite"></animateTransform></g>
                    </svg>
                </div>
                <div class="nav-horizontal">
                    <ul class="breadcrumb">
                        {{#if navigations.length}}
                            {{#each navigations}}
                                <li><a href="{{route ../request this.[0]}}">{{ this.[1] }}</a></li>
                            {{/each}}
                        {{/if}}
                        <li>{{ title}}</li>
                    </ul>
                </div>
                <div class="main">
                    {{{ body }}}
                </div>
            </div>
            <footer class="footer">
                <div class="left"> &#0169; {{copyright}} BTRS - All Rights Reserved </div>
                <div class="right"> Developed By <b>M. Rashedul Islam</b> </div>
            </footer>
        </div>
        <script type="text/javascript" src="{{asset request "assets/js/flatpickr.js"}}"></script>
        <script type="text/javascript" src="{{asset request "assets/js/ajax.js"}}"></script>
        <script type="text/javascript" src="{{asset request "system/assets/js/script.js"}}"></script>
        <script type="text/javascript" src="{{asset request "assets/js/autocomplete.js"}}"></script>
        {{{resources extrajs 'js'}}}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelector('.preloader').classList.add('hidden');
                document.querySelector('.drop .toggle').addEventListener('click', function (e) {
                    this.parentNode.classList.toggle("open");
                });

                window.onclick = function (e) {
                    var dropMenus = document.querySelectorAll('.drop.open');
                    dropMenus.forEach(function (menu) {
                        if (!menu.contains(e.target)) {
                            menu.classList.remove('open');
                        }
                    });
                };

                var resizeWrapper = function () {
                    var offset = 70,
                        height = ((window.innerHeight > 0) ? window.innerHeight : this.screen.height) - 1;
                    height -= offset;
                    height = height < 1 ? 1 : height;

                    if (height > offset) {
                        document.querySelector('.system .wrapper').style = 'min-height: ' + height + 'px;';
                    }
                };

                resizeWrapper();

                if (window.attachEvent) {
                    window.attachEvent('onresize', resizeWrapper);
                } else if (window.addEventListener) {
                    window.addEventListener('resize', resizeWrapper);
                }
            });
        </script>
    </body>
</html>